@page
@model RestaurantWebsite.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Pages/_Layout.cshtml";
}

<link rel="stylesheet" href="~/CSS/menu.css">

<div id="container">
    <div class="access">
        <h2>Access Denied</h2>
    </div>
    <hr />
    <div class="message">
        <p>Oops... you don't have access to this page</p>
    </div>

</div>