@page "{mealID:int}"
@model RestaurantWebsite.Pages.Admin.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/_Layout.cshtml";
}

<link rel="stylesheet" href="~/CSS/menu.css">

<div id="container">
    <h2>Edit Item - @Model.menu.mealName</h2>
    <hr />
    <form method="post" enctype="multipart/form-data">
        <input asp-for="menu.mealID" type="hidden" />
        <input asp-for="menu.Active" type="hidden" />
        <input asp-for="menu.ImageData" type="hidden" />

        <div asp-validation-summary="All"></div>
        <div>Meal Name: <input asp-for="menu.mealName" /></div>
        <div>Meal Ingredients: <input asp-for="menu.mealIngredients" /></div>
        <div>Meal Price: <input asp-for="menu.mealPrice" /></div>
        <div>Gluten Free: <input asp-for="menu.mealIsGlutenFree" /></div>
        <div>Vegan: <input asp-for="menu.mealIsVegan" /></div>
        <div>Contains Nuts: <input asp-for="menu.mealContainsNuts" /></div>
        <div>Meal Description: <input asp-for="menu.mealDescription" /></div>
        <div>Upload Image:<input asp-for="menu.ImageData" type="file" id="file1" name="file1" multiple="multiple" /></div>
        <div>Image Description <input asp-for="menu.ImageDescription" /></div>
        <div>
            <button type="submit" asp-page-handler="Save">Save</button>
        </div>
    </form>
</div>