
/*Removes any scrollbar on the website*/
html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    height: auto;
    background: rgba(0,0,0,0.98) url('Images/background.jpg') no-repeat fixed center;
    background-size: cover;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
}

/*Changes the colour of selected/highlighted text my mouse drag*/
::-moz-selection { /* Code for Firefox */
    color: black;
    background: red;
}
/*Same as the block above*/
::selection {
    color: black;
    background: red;
}
/*Makes the user unable to select/highlight images with a mouse drag*/
img {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

a {
    text-decoration: none;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------Navigation--------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*Responsible for the navigation bar on the top of the website. A container that stores the logo, hyperlinks and social media links*/
.top-bar {
    height: 200px;
    max-height: 200px;
    background-color: rgba(255,255,255,0);
    z-index: 0;
    float: none;
    margin: auto;
}

.logo {
    float: left;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    transition: transform 0.15s ease-in-out;
}

.logo img {
    width: 164px;
    height: 125px;
}

.logo:hover {
    transform: scale(1.1); 
    transition: transform 0.15s ease-in-out;
}

/*Responsible for the navigation bar on the top of the website. A container that stores hyperlinks*/
nav {
    display: inline-block;
    position: absolute; 
    margin: 0 auto;
}

.menu {
    margin-right: 222px;
    position: relative;
    transform: translate(408px,20px);
    transition: transform 0.15s ease-in-out;
}

@media only screen and (max-width: 1615px) {
    .menu {
        transform: translate(150px,20px);
        transition: transform 0.15s ease-in-out;
    }
}

@media only screen and (max-width: 1365px) {
    .menu {
        transform: translate(0px,20px);
        transition: transform 0.15s ease-in-out;
    }
}

@media only screen and (max-width: 800px) {
    .menu {
        transform: translate(0px,38px);
        transition: transform 0s ease-in-out;
    }
}



/*Hyperlinks made by the use of bullet points and lists*/
.menu ul li {
    position: relative;
    margin: 0 auto;
    float: none;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    padding: 2px 5px 2px 5px;
    transition: ease-in-out 0.15s;
    margin-left: 5px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.menu ul li:hover {
    color: #FFF;
}

.menu ul li:before {
    content: "";
    position: absolute;
    float: none;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    transform: scaleX(0);
    transition: transform 0.15s ease-in-out;
}

.menu ul li:hover::before {
    transform: scaleX(1);
}

.menu ul li:nth-child(3) {
    font-size: 42px;
    font-weight: 100;
    text-decoration: none;
    transform: translate(0,6px);
}

.menu ul li:nth-child(3):before {
    transform: scaleX(1);
    width: 0;
    text-decoration: none;
}

.menu ul li:nth-child(3):hover {
}

@media only screen and (max-width: 800px) {
    .menu ul li:nth-child(3) {
        display: none;
    }
}

.menu a:visited{
    color: rgba(0,0,0,0);
}

.menu ul li:nth-child(5) {
    font-size: 42px;
    font-weight: 100;
    text-decoration: none;
    transform: translate(0,6px);
}

.menu ul li:nth-child(5):before {
    transform: scaleX(1);
    width: 0;
    text-decoration: none;
}

.menu ul li:nth-child(5):hover {
}

@media only screen and (max-width: 1000px) {
    .menu ul li:nth-child(5) {
        display: none;
    }
}



/*-------------------------------Social Media Logos Located in the Top Right corner of the website*/
.social {
    float: right;
    display: inline-block;
    margin-right: 35px;
    transform: translate(0px,-155px);
    opacity: 1;
    transition: transform 0.15s ease-in-out;
}

@media only screen and (max-width: 740px) {
    .social {
        display: none;
    }
}

.facebook {
    display: inline-block;
    transition: transform 0.15s ease-in-out;
}
.facebook:hover {
    transform: scale(1.2);
    transition: transform 0.15s ease-in-out;
}

.facebook img {
    width: 45px;
    height: 45px;
}

.instagram {
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.15s ease-in-out;
}
.instagram:hover {
    transform: scale(1.2);
    transition: transform 0.15s ease-in-out;
}

.instagram img {
    width: 45px;
    height: 45px;
}

.twitter {
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.15s ease-in-out;
}
.twitter:hover {
    transform: scale(1.2);
    transition: transform 0.15s ease-in-out;
}

.twitter img {
    width: 45px;
    height: 45px;
}

main{
    margin-bottom:  449px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------Footer-----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*Footer- the bottom of the website. Stores mostly copyright info, social media links, short links and a google maps embed*/
footer {
    position: static;
    width: 100%;
    background-color: rgba(0,0,0,0.98);
    height: auto;
    border-top: 45px solid rgba(0,0,0,0);
    border-bottom: 45px solid rgba(0,0,0,0.95);
}

.footercontainer{
    margin-left: 75px;
}

.footerlogo {
    width: 334px;
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 20px;

}

.footerlogo img {
    margin-bottom: 50px;
    margin-left: 10%;
    width: 250px;
    transition: transform 0.15s ease-in-out;
}

.footerlogo img:hover {
    transform-origin: center;
    transform: scale(1.1);
    transition: transform 0.15s ease-in-out;
}

.spacerleft {
    display: inline-block;
    height: 330px;
    width: 2px;
    transform: translate(0,7px);
    background-color: rgba(255,255,255,1);
}


.containerfooterlinks {
    display: inline-block;
    width: 334px;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 50px;
    transform: translate(-5px,-90px);
}
.footerlinks a {
    margin-left: 40%;
    display: block;
    margin-bottom: 20px;
    color: rgba(255,255,255,1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    transition: transform 0.15s ease-in-out;
}

.footerlinks a:hover {
    color:rgba(255,0,0,1);
    transition: transform 0.15s ease-in-out;
}

.spacermiddle {
    display: inline-block;
    height: 330px;
    width: 2px;
    transform: translate(0,7px);
    background-color: rgba(255,255,255,1);
}

@media only screen and (max-width: 892px) {
    .spacermiddle {
        display: none;
    }
    .spacerleft {
        display: none;
    }

    .footercontainer{
        margin: 0;
    }

    .footerlogo img {
        display: block;
        transform-origin: center;
        transform: translate(0%,0);
    }
    .footerlogo img:hover {
        transform-origin: center;
        transform: scale(1.1);
        transition: transform 0.15s ease-in-out;
    }
    .containerfooterlinks {
        display: block;
        transform: translate(0%,0);
        
    }

    .containersocialcontact {
        display: block;
    }

    .googlemaps {
        display: block;
    }
}


.footersocial {
    display: block;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid #FFF;
    padding: 10px 10px 10px 10px;
    width: 333px;
    height: 122px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.footer-fb {
    transition: ease-in-out 0.15s;
    margin-bottom: 6px;
}

.footer-fb p {
    float: right;
    color: white;
    display: inline-block;
    margin-right: 110px;
    margin-bottom: 0px;
    transform: translate(0px,-5px);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.footer-fb:hover {
    transform: scale(1.1) translate(13px,0px);
    transition: ease-in-out 0.15s;
}

.footer-fb img {
    width: 35px; 
    height: 35px;
}

.footer-ig {
    margin-bottom: 6px;
    transition: ease-in-out 0.15s;
}

.footer-ig p {
    float: right;
    color: white;
    display: inline-block;
    margin-right: 102px;
    margin-bottom: 0px;
    transform: translate(0px,-5px);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.footer-ig:hover {
    transition: ease-in-out 0.15s;
    transform: scale(1.1) translate(13px,0);
}

.footer-ig img {
    width: 35px;
    height: 35px;
}

.footer-tt {
    transition: ease-in-out 0.15s;
}

.footer-tt p {
    float: right;
    color: white;
    display: inline-block;
    margin-right: 124px;
    margin-bottom: 0px;
    transform: translate(0px,-5px);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.footer-tt:hover {
    transition: ease-in-out 0.15s;
    transform: scale(1.1) translate(13px,0);
}

.footer-tt img {
    width: 35px;
    height: 35px;
}

.containersocialcontact {
    display: inline-block;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 17px;
    transform: translate(0,-20px);
}

.footercontact {
    display: block;
    border-radius: 15px;
    border: 2px solid #FFF;
    padding: 10px 10px 10px 10px;
    width: 333px;
    height: 122px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.footercontact p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    
}

.footer-mail {
    margin-top: 20px;
    margin-bottom: 6px;
}

.footer-mail img {
    width: 35px;
    height: 35px;
}

.footer-mail p {
    float: right;
    color: white;
    display: inline-block;
    margin-right: 122px;
    margin-bottom: 0px;
    transform: translate(0px,7px);
}

.footer-phone {
    margin-bottom: 6px;
}

.footer-phone img{
    width: 35px;
    height: 35px;
}

.footer-phone p {
    float: right;
    color: white;
    display: inline-block;
    margin-right: 160px;
    margin-bottom: 0px;
    transform: translate(0px,7px);
}

.spacerright {
    display: inline-block;
    height: 330px;
    width: 2px;
    transform: translate(0,7px);
    background-color: rgba(255,255,255,1);
}

@media only screen and (max-width: 1284px) {
    .spacerright {
        display: none;
    }
}


.googlemaps {
    display: inline-block;
    position: relative;
    margin-left: 35px;
    border-radius: 15px;
    border: 2px solid #FFF;
    width: 334px;
    padding: 0px 10px 5px 10px;
    transform: translate(0,-14px);
}

.googlemaps iframe {
    width: 333px;
    height: 250px;
}
.googlemaps p {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.footercopyright {
    text-align: center;
    color: white;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}






