#container {
    position: relative;
    float: unset;
    background-color: rgba(240,240,240,0.94);
    border-radius: 25px;
    border: 5px solid rgba(240,240,240,0);
    padding: 15px;
    width: 960px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 1000px) {
    #container {
        width: 640px;
    }
}

@media only screen and (max-width: 680px) {
    #container {
        width: 460px;
    }
}

.search{
    margin-left: 75px;
}
.searchbutton{
    margin-top: 10px;
    margin-left: 75px;
}

.searchbutton a button {
    width: 150px;
}

.ascustomerbutton {
    display:inline-block;
    margin-top: 10px;
    margin-left: 75px;
}

.ascustomerbutton a button {
    width: 150px;
}


.inputboxes div{
    margin-bottom: 10px;
}

.inputboxes {
    margin-left: 75px;
}



.menutable tr{
    display: inline-block;
    margin-left: 35px;
    margin-right: 10px;
    margin-top: 10px;
    height: 450px;
}

.menutable td:nth-child(1) {
    display: block;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.menutable td:nth-child(2) {
    display: inline-block;
    margin-left: 24%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.emptyimage {
    position: absolute;
    width: 128px;
    height: 128px;
    transition: transform 0.15s ease-in-out;
    transform: translate(-170px,50px);
}

.mealImage {
    width: 212px;
    height: 212px;
    transition: transform 0.15s ease-in-out;
}


.mealImage:hover {
    transform: scale(1.1);
    transition: transform 0.15s ease-in-out;
}

.menutable td:nth-child(3) {
    display: block;
    width: 400px;
    text-align: center;
}

.menutable td:nth-child(4) {
    display: inline-block;
    margin-left: 30px;
    font-weight: bold;
}

.menutable td:nth-child(5) {
    display: inline-block;
    font-weight: bold;
}

.menutable td:nth-child(6) {
    display: inline-block;
    font-weight: bold;
}

.menutable td:nth-child(7) {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.menutable td:nth-child(8) {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.menutable td:nth-child(8) button {
    width: 150px;
}

.menutable td:nth-child(9) {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.menutable td:nth-child(9) a {
    margin-right: 35px;
}
 


main {
    margin-bottom: 250px;
}

.email, .password, .confirmpassword, .register, .username, .userrole, .logout {
    margin-left: 75px;
    margin-top: 10px;
    font-size: 16px;
}
h2{
    margin-left: 75px;
}
.login {
    margin-left: 75px;
    margin-top: 28px;
}
.newuser {
    margin-left: 75px;
    margin-top: -10px;
    font-size: 13px;
}

.message {
    text-align: center;
    font-size: 16px;
}

.access{
    margin-left: -75px;
    text-align: center;
}

input {
    background-color: rgba(255,255,255,1);
    border-radius: 25px;
    border: 3px solid rgba(240,240,240,0);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    transition: transform 0.15s ease-in-out;
    margin-left: 5px;
}

button {
    background-color: rgba(240,0,0,1);
    border-radius: 25px;
    border: 5px solid rgba(240,240,240,0);
    padding: 5px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    transition: transform 0.15s ease-in-out;
}

button:hover {
    background-color: rgba(0,0,0,1);
    color: white;
    transition: transform 0.15s ease-in-out;
}

.address{
    margin-left: 75px;
    transform: translate(0px,-195px);
    display: inline-block;
    font-size: 15px;
}

.containerspacer {
    display: inline-block;
    height: 300px;
    margin-left: 75px;
    margin-right: 75px;
    width: 2px;
    transform: translate(0,7px);
    background-color: rgba(0,0,0,1);
}


.containergooglemaps {
    display: inline-block;
}

.containergooglemaps iframe{
    width: 500px;
    height: 250px;
}


.number-restaurant-container{
    display: inline-block;
}

.number {
    margin-left: 75px;
    display: block;
    font-size: 15px;
}

.restaurantform{
    display: block;
    margin-left: 75px;
}

.restaurantform div {
    margin-bottom: 10px;
}

.restaurantform .message p {
    display: inline-block;
    transform: translate(0,-40px);
}

.restaurantform .message input {
    height: 100px;
    width: 200px;
    text-wrap:normal;
    
}

.restaurantform button{
    width: 128px;
}

.containerspacercontact {
    display: inline-block;
    height: 333px;
    margin-left: 75px;
    margin-right: 75px;
    width: 2px;
    transform: translate(0,7px);
    background-color: rgba(0,0,0,1);
}

.containersocials {
    display: inline-block;
    width: 200px;
    transform: translate(0px,-110px);
}
.containerfb {
    transition: ease-in-out 0.15s;
    margin-bottom: 6px;
}

.containerfb p {
    color: black;
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 5px;
    transform: translate(0px,-10px);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.containerfb:hover {
    transform: scale(1.1) translate(13px,0px);
    transition: ease-in-out 0.15s;
}

.containerfb img {
    width: 35px;
    height: 35px;
    filter: invert(100%);
}

.containerig {
    margin-bottom: 6px;
    transition: ease-in-out 0.15s;
}

.containerig p {
    color: black;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 0px;
    transform: translate(0px,-12px);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.containerig:hover {
    transition: ease-in-out 0.15s;
    transform: scale(1.1) translate(13px,0);
}

.containerig img {
    width: 35px;
    height: 35px;
    filter: invert(100%);
}

.containertt {
    transition: ease-in-out 0.15s;
}

.containertt p {
    color: black;
    display: inline-block;
    margin-right: 23px;
    margin-bottom: 0px;
    transform: translate(0px,-10px);
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.containertt:hover {
    transition: ease-in-out 0.15s;
    transform: scale(1.1) translate(13px,0);
}

.containertt img {
    width: 35px;
    height: 35px;
    filter: invert(100%);
}

@media only screen and (max-width: 1000px) {
    .containerspacer {
        margin-left: 25px;
        margin-right: 25px;
    }
    .containerspacercontact {
        margin-left: 25px;
        margin-right: 25px;
    }
    .containergooglemaps iframe {
        width: 333px;
        height: 250px;
    }
}

@media only screen and (max-width: 680px) {
    .address {
        transform: translate(0px,0px);
    }
    .number {
        transform: translate(0px,0px);
    }
    .containerspacer {
        display: none;
    }
    .containerspacercontact {
        display: none;
    }
    .containergooglemaps {
        transform: translate(75px,0);
    }
    .containersocials {
        transform: translate(75px,0);
    }

}

.checkouttable{
    margin-left: 75px;
}

.quantity button{
    width: 32px;
    margin: 5px 5px 5px 5px;
}

.emptybasket{
    margin-top: 17px;
    font-size: 34px;

}

.total{
    margin-bottom: 5px;
    margin-top: 17px;
}

.stripe-button{
    margin-top: 5px;
    margin-left: 75px;
}

.confirmationmessage p{
    text-align: center;
}