@page
@model RestaurantWebsite.Pages.Admin.ConfirmationModel
@{
    ViewData["Title"] = "Basket";
    Layout = "~/Pages/_Layout.cshtml";
}

<link rel="stylesheet" href="~/CSS/menu.css">

<div id="container">
    <h2>Confirmation</h2>
    <hr />
    <div class="confirmationmessage">
        <p>Your payment has gone through</p>
        <br />
        <p>Thank you for your purchase</p>
    </div>
</div>
