@page
@model WebApplication1.Pages.IndexModel
@{            
    ViewData["Title"] = "Home";
    Layout = "~/Pages/_Layout.cshtml";
}

<link rel="stylesheet" href="~/CSS/index.css">

<main>
    <a href="menu">
        <div class="ordernow">
            <p>ORDER NOW</p>
        </div>
    </a>
</main>
