@page
@model RestaurantWebsite.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Pages/_Layout.cshtml";
}

<link rel="stylesheet" href="~/CSS/menu.css">

<div id="container">

</div>

